body {
  box-sizing: border-box;
  margin: auto;
}

/* .html, body, .Home-component {
  height: 100%;
} 

.Home-component {
  background: url(../images/DSC04123.jpg) no-repeat center center fixed;
background-size: cover;
} */
